form {
    margin: auto;
    width: 95%;
}

/*Use CSS to make the container look good with padding*/
/*Element's padding is the space between its content and its border.*/
.container {
  padding: 80px 120px;
}

/*Navigation menu*/

/*Adjusting the color to black*/
.nav-pills li a {
  color: #000000 !important;
}

/* On hover, the links will turn blue */
.nav-pills li a:hover {
  color: #1e90ff !important;
}


/*Footer*/
/*CSS to add space - used in footer*/
label {
  white-space: pre;
}

/*Table of Content*/
nav[data-toggle="toc"] {
  top: 42px;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}

/* Code snippets */
code {
  background-color: lightblue;
  color: black;
  display: block;
  padding: 20px;
}